version: "3.9"

services:
  db:
    container_name: bookr-db
    image: postgres:latest
    volumes:
      - ./data/db:/var/lib/postgresql/data
    env_file:
      - env/db.env
  web:
    container_name: bookr-web
    build: .
    command: python manage.py runserver 0.0.0.0:8000 && python manage.py startapp reviews
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - env/web.env